:root {
    --primary: #0e0e0e;
    --secondary: #c4d106;
    --courage: #015e0c;
    --power: #ec3503;
    --wisdom: #0404eb;
    --dark: #38302e;
    --border-radius: 0.3rem;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--primary);
    background-image: url(../assets/images/pixel-art-pixels-triforce-the-legend-of-zelda-wallpaper.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--power);
    line-height: 1.5;
    font-size: 16px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin: 0;
    color: var(--power);
    line-height: 1.25;
  }
  
  h2 a:visited {
    color: var(--secondary);
  }
  
  h2 a {
    color: var(--primary);
  }
  
  header {
    margin-top: 50px;
  }
  
  main {
    margin: 20px auto;
    width: 94%;
  }
  
  a {
    text-decoration: none;
  }
  
  p {
    font-size: 1.2rem;
  }
  
  input {
      width: 100%;
      border: 1px solid #ccc;
      background: #FFF;
      margin: 0 0 5px;
      padding: 10px;
  }
  
  .post-header h2 {
    color: whitesmoke;
  }
  
  .btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var((--primary));
    border: none;
    outline: none;
    background-color: var(--power);
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
  }
  
  .btn:hover {
    color: var(--primary);
    background-color: var(--wisdom);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
  }
  
  .btn-inline {
    display: inline;
  }
  
  .li-inline {
    display: inline;
  }
  
  .navbar {
    font-family: 'Press Start 2P', cursive;;
    width: 100%;
    position: fixed;
    background-color: var(--courage);
  }
  
  .nav-item {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0 40px;
  }
  
  .nav-item a {
    font-family: 'Press Start 2P', cursive;
    color: var(--secondary);
    font-size: 20px;
  }

  .nav-item a:hover {
    color: var(--wisdom);
  }
  
  .hero {
    padding: 3% 4%;
    height: 75px;
    background-color: var(--courage);
    color: var(--primary);
  }
  
  .hero p {
    max-width: 75%;
  }
  
  .dash-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    background-color: var(--primary);
    color: var(--power);
    padding: 0 10px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--power);
  }
  
  .app-title a {
    color: red;
    -webkit-text-stroke: 1px var(--dark);
    font-family: Impact;
  }
  
  .list-group {
    padding: 1%;
  }
  
  .list-item {
    margin-bottom: 10px;
    padding: 1.5%;
    border-radius: var(--border-radius);
    background-color: var(--power);
    color: var(--primary);
    text-decoration: none;
  }
  
  .list-item:hover {
    background-color: var(--wisdom);
  }
  
  .footer a {
    display: inline-block;
    padding: 1em;
    margin-bottom: .5em;
    background-color: var(--power);
    color: var(--primary);
    border-radius: var(--border-radius);
    text-decoration: none;
  }

  .footer a:hover {
    background-color: var(--wisdom);
  }
  
  
  /* CARDS */
  .card {
    margin: 0 0 20px 0;
    border: 3px solid var(--secondary);
    border-radius: var(--border-radius);
  }
  
  .post-header {
    color: var(--wisdom);
    background-color: var(--wisdom);
    padding: 1%;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  
  .post-body {
    color: whitesmoke;
    padding: 1%;
    background-color: var(--wisdom);
  }
  
  /* FORM */
  .title-label,
  .form-input,
  .form-textarea {
    display: block;
    color: var(--primary);
  }
  
  .form-label {
    font-size: 1.1rem;
    margin: 0 0 0 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 1%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid var(--power);
    border-radius: var(--border-radius);
  }
  
  /* HEIGHT / WIDTH UTILS */
  .min-100-vh {
    min-height: 100vh;
  }
  
  .min-100-vw {
    min-width: 100vw;
  }
  
  /* FONT UTILS */
  .text-uppercase {
    text-transform: uppercase;
  }
  
  /* FLEX CONTENT */
  .flex-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .justify-space-between {
    justify-content: space-between;
  }
  
  .justify-space-around {
    justify-content: space-around;
  }
  
  .justify-flex-start {
    justify-content: flex-start;
  }
  
  .justify-flex-end {
    justify-content: flex-end;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .align-stretch {
    align-items: stretch;
  }
  
  .align-end {
    align-items: flex-end;
  }
  
  .align-center {
    align-items: center;
  }
  
  .col-auto {
    flex-grow: 1;
  }
  
  .col-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }
  
  .col-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }
  
  .col-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }
  
  .col-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }
  
  .col-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }
  
  .col-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }
  
  .col-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }
  
  .col-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }
  
  .col-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }
  
  .col-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }
  
  .col-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }
  
  .col-12 {
    flex: 0 0 100%;
  }

  .zelda-ref {
    font-family: 'Press Start 2P', cursive;
    color: lawngreen;
    -webkit-text-stroke: 1px #000000;
    text-align: center;
    position: relative;
    bottom: 10px;
  }

